<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="benchbox">
        <meta name="author" content="chenglong">
        <title>Hello World in AngularJS</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
        <script src="main.js"></script>
    </head>

    <body>


        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">About</a></li>
                        <li role="presentation"><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">BenchBox ManagerGUI</h3>
            </div>

            <div class="jumbotron">
                <h1>Mi vida muere lento</h1>
                <p class="lead">Cuanta vida perdemos mientras esperamos...</p>
                <input type="text" alt="command goes here"></input>
                <p><a class="btn btn-lg btn-success" href="#" role="button">Ahora</a></p>
            </div>

            <div class="row config">
                <div class="col-lg-6">
                    <h4>Profile distribution</h4>
                    <textarea cols="100" rows="2">
                    </textarea>
                    <!-- self append list -->
                </div>

                <div class="col-lg-6">
                    <h4>Server location</h4>
                      <textarea cols="100" rows="2">
                    </textarea>
                </div>
            </div>


            <div class="row credential">
                <div class="col-lg-6">
                    <h4>Stacksync Credentials</h4>
                 <textarea cols="100" rows="2">
                    </textarea>
                </div>

                <div class="col-lg-6">
                    <h4>Hosts</h4>
                      <textarea cols="100" rows="2">
                    </textarea>
                </div>
            </div>


            <p class="hello"></p> Class


            <ng-view></ng-view>

            <!-- Template -->
            <script type="text/ng-template" id="/todos.html">
                <ul>
                    <li ng-repeat="todo in todos">
                        <input type="checkbox" ng-model="todo.completed">
                        <a href="#/{{$index}}">{{todo.name}}</a>
                    </li>
                </ul>
            </script>

            <script type="text/ng-template" id="/todoDetails.html">
                <h1>{{ todo.name }}</h1>
                completed: <input type="checkbox" ng-model="todo.completed">
                note: <textarea>{{ todo.note }}</textarea>
            </script>

            <footer class="footer">
                <p>© AST 2015</p>
            </footer>


        </div>
        <!-- /container -->

        <!--
        <input ng-model="name"> Hello {{ name }}
        <div>new line</div>
        <hello>Element</hello>
        Element
        <div data-hello>Attribute</div>
        data-Attribute
        <div hello>Attribute</div>
        Attribute
        -->
        <!-- even commented code converted to directive -->
        <!-- directive: hello -->


        <!-- ng routes allows us to see in the app depending what's in the url usually using templates to inject code into the app -->


    </body>
</html>